{% extends "base.html.twig" %}

{% block content %}
<section class="row">
    <div class="col-md-12">
        <div class="content">

            <header class="content__header">
                <a class="backlink" href="{{ path('app_process_index') }}">{{ 'processes'|trans|capitalize }}</a>
                <header class="content__header">
                    <h1 class="content__header-title">{{ process.name|capitalize }}</h1>
                </header>
            </header>
        </div><!-- ./content -->
    </div><!-- ./col -->
</section>
<div class="row">
    <div class="col-md-8  col-sm-12">
        <form method="post" action="{{ path('app_process_slug',{id:process.id, slug:slug}) }}" class="form">
            {% include 'process/default.html.twig' %}

            {% if slug is not defined or slug == 'instruction' %}
                {% include 'process/instruction.html.twig' %}
                {% include 'process/documents.html.twig' %}
            {% elseif slug == 'submit' %}
                {% include 'process/submit.html.twig' %}
            {% elseif slug == 'in-progress' %}
                {% include 'process/in-progress.html.twig' %}
            {% elseif slug == 'processed' %}
                {% include 'process/processed.html.twig' %}
            {% elseif stage.sections is defined and stage.sections is not null %}
                {% include 'process/widgets/form.html.twig' %}
            {% endif %}
            <!-- Page Break -->
            <div style="height: 20px;"></div>


            {% if slug == 'instruction' %}
                <div class="col-md-12 no-padding">
                    {% if process.requireLogin is defined and process.requireLogin == 'true' and (user is not defined or user is null) %}
                        <div class="col-md-6" style="padding-left: 0px;">
                            <button class="btn btn--block" name="submit">{{ 'login'|trans|capitalize }}</button>
                        </div><!-- /.col -->
                    {% elseif resumeRequest is defined and resumeRequest == 'resume' %}
                        {% set nextStage = commonground_resource(request.currentStage) %}
                        <a class="btn btn--block"
                           href="{{ path('app_process_slug',{id: process.id, slug:  nextStage.slug}) }}">{{ 'resume'|trans|capitalize }}</a>
                    {% elseif resumeRequest is defined and resumeRequest == 'see' %}
                        <a class="btn btn--block"
                           href="{{ path('app_process_slug',{id: process.id, slug:  process.stages[0].slug }) }}">{{ 'see'|trans|capitalize }}</a>
                    {% else %}
                        <a class="btn btn--block"
                           href="{{ path('app_process_slug',{id: process.id, slug:  process.stages[0].slug }) }}">{{ 'start'|trans|capitalize }}</a>
                    {% endif %}
                </div><!-- /.col -->
            {% elseif slug != 'submit' %}
                <div class="col-md-6" style="padding-left: 0px;">
                    <button class="btn btn--block" name="submit">{{ 'save'|trans|capitalize }}</button>
                </div><!-- /.col -->
            {% endif %}

            {% if stage.previous is defined and stage.previous is not null and stage.previous != false %}
                <div class="col-md-6" style="padding-right: 0px;">
                    <a class="btn btn--primary btn--block"
                       href="{{ path('app_process_slug',{id: process.id, slug: stage.previous.slug}) }}">Vorige</a>
                </div>
            {% endif %}


        </form>

    </div><!-- /.col -->

    <div class="col-md-4  col-sm-12">
        {% if slug != 'instruction' %}
            {% include 'process/widgets/progressbar.html.twig' %}

            <!-- Page Break -->
            <div style="height: 20px"></div>
            {% include 'process/widgets/stages.html.twig' %}

            <!-- Page Break -->
            <div style="height: 20px"></div>
            {% include 'process/widgets/checklist.html.twig' %}

            <!-- Page Break -->
            <div style="height: 20px"></div>
            {% include 'process/widgets/properties.html.twig' %}

            <!-- Page Break -->
            <div style="height: 20px"></div>
            {% include 'process/widgets/contact.html.twig' %}
        {% else %}
            {% if user is defined and user is not empty %}
                {% include 'process/widgets/requests.html.twig' %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
