{% extends 'base.html.twig' %}

{% block content %}
    <header class="content__header">
        <a class="backlink" href="/education/stages">Stages</a>
    </header>
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <div class="content-background">
                <div class="content ">
                    <div class="row">
                        <div class="col-md-6">
                            {% if resource.title is defined and resource.title is not empty %}
                                <h1>{{ resource.title|capitalize }}</h1>
                            {% else %}
                                <h1>{{ resource.name|capitalize }}</h1>
                            {% endif %}
                            {% if resource.description is defined and resource.description is not empty %}
                                <p>{{ resource.description }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <img src="https://picsum.photos/350/250" alt="tender" width="100%">
                        </div>
                    </div>

                    <br>
                    <div class="edit-section">
                        <h2>Algemene informatie</h2>
                    </div>
                    <ul class="definition-list">
                        <li class="definition-list__item definition-list__item--horizontal">
                            <div class="definition-list__title">
                                Naam
                            </div>
                            <div class="definition-list__description">
                                <p>{{ resource.name }}</p>
                            </div>
                        </li>
                        {% if resource.jobStartDate is defined and resource.jobStartDate is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Startdatum
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ resource.jobStartDate|date("d-m-Y", "Europe/Paris") }}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% if resource.validThrough is defined and resource.validThrough is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    <span>Deze vactature is geldig tot</span>
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ resource.validThrough|date("d-m-Y", "Europe/Paris") }}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% if resource.employmentType is defined and resource.employmentType is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Werktijd
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ resource.employmentType}}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% if resource.standardHours is defined and resource.standardHours is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Uren per week
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ resource.standardHours}} uur</p>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
