{% set loadedRequests = commonground_resource_list({'component':'vrc','type':'requests'}, {'processType':process['@id'],'submitters.brp':user['@id']})['hydra:member'] %}
<div class="content-background">
    <div class="content">
        <h2>{{ 'requests'|trans|capitalize }}</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">{{ 'created'|trans|capitalize }}</th>
                <th scope="col">{{ 'status'|trans|capitalize }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for resource in loadedRequests %}
                <tr>
                    <td>{% if resource.dateCreated is defined and resource.dateCreated is not null %}{{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}</td>
                    <td>{{ resource.status|trans|capitalize }}</td>
                    {% if resource.status != 'submitted' %}
                        {% set resumeRequest = 'resume' %}
                        <td><a style="background: #cfebfd; padding: 6px; border-radius: 6px"
                               href="{{ path('app_request_load', {id: resource.id, resumeRequest: resumeRequest}) }}"><b>{{ 'resume'|trans|capitalize }}</b></a>
                        </td>
                    {% else %}
                        {% set resumeRequest = 'see' %}
                        <td><a style="background: #cfebfd; padding: 6px; border-radius: 6px"
                               href="{{ path('app_request_load', {id: resource.id, resumeRequest: resumeRequest}) }}"><b>{{ 'see'|trans|capitalize }}</b></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
