<div class="input input--horizontal">
    <div>
        <label class="input__label" for="{{ property.id }}" id="{{ property.id }}_label">
            {% if property.icon is defined and property.icon is not empty %}
                <i style="margin-right: 10px;" class="{{ property.icon }}"></i>
            {% endif %}
            {{ property.title }} {% if property.required is defined and property.required %}<span style="color: red;"><strong>*</strong></span>{% endif %}</label>
    </div>
    {%  if property.description %}<span class="input__hint" id="{{ property.id }}_name">{{ property.description }}</span>{% endif %}
    <div id="organizationForm" class="col-sm-12">
        <label class="input__label" for="name">Naam <span style="color: red">*</span></label>
        <input class="input__control input__control--m input__control--text" id="name" name="request[properties][{{property.name}}][name]" type="text" required="">
        <label class="input__label" for="description">Beschrijving <span style="color: red">*</span></label>
        <input class="input__control input__control--xl input__control--text" id="description" name="request[properties][{{property.name}}][description]" type="text" required="">
        <div class="input">
            <label class="input__label">Adres </label>

            <div class="input__control-group">
                <div>
                    <label class="input__hint" for="postalCode">postcode</label>
                    <input aria-label="Postcode" title="Postcode" type="text" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="postalCode" name="request[properties][{{property.name}}][adresses][postalCode]" class="input__control input__control--six-characters input__control--text">
                </div>
                <div>
                    <label class="input__hint" for="houseNumber">huisnummer</label>
                    <input aria-label="Huisnummer" title="Huisnummer" type="number" minlength="1" maxlength="5" id="houseNumber" name="request[properties][{{property.name}}][adresses][houseNumber]" class="input__control input__control--five-characters input__control--text">
                </div>
                <div>
                    <span class="input__hint" for="houseNumberSuffix">toevoeging</span>
                    <input aria-label="Toevoeging" title="Toevoeging" type="text" maxlength="5" id="houseNumberSuffix" name="request[properties][{{property.name}}][adresses][houseNumberSuffix]" class="input__control input__control--five-characters input__control--text">
                </div>
            </div>
        </div>
    </div>
</div>
