<fieldset class="input">
    {%  if property.description %} <legend class="input__legend">{{ property.description }}</legend>{% endif %}

    <div class="input__group input__group--checkbox">
        <input type="checkbox" id="{{ property.id }}" class="input__control input__control--checkbox" name="request[properties][{{ property.name }}]" {% if property.required is defined and property.required %}required{% endif %}>
        <label class="input__label" for="{{ property.id }}" id="{{ property.id }}_label">
            {% if property.icon is defined and property.icon is not empty %}
                <i style="margin-right: 10px;" class="{{ property.icon }}"></i>
            {% endif %}
            {{ property.title }} {% if property.required is defined and property.required %}<span style="color: red;"><strong>*</strong></span>{% endif %}</label>
    </div>

    <input class="input__control input__control--text input__control--l" id="{{ property.id }}" type="{{ type }}" name="request[properties][{{ property.name }}]" {% if property.required is defined and property.required %}required{% endif %}
        {% if request['properties'][property.name] is defined and  request['properties'][property.name] is not empty %}
        value="{{  request['properties'][property.name] }}"
        {% endif %}>
</fieldset>
