
            <div class="content-background" >
            	<div class="content">
                    <h2>{{ 'check-ins'|capitalize }}</h2>
                    {% if checkins is defined and checkins is not empty %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'organization'|trans|capitalize }}</th>
                            <th scope="col">{{ 'place'|trans|capitalize }}</th>
                            <th scope="col">{{ 'check-in date'|trans|capitalize }}</th>
                            <th scope="col">{{ 'deletion date'|trans|capitalize }}</th>

                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for checkin in checkins %}
                        <tr>
                            <td>{{ commonground_resource(checkin.node.organization).name|capitalize }}</td>
                            <td>{{ commonground_resource(checkin.node.place).name|capitalize }}</td>
                            <td>{{ checkin.dateCreated|date("H:i d-m-Y", "Europe/Amsterdam") }}</td>
                            <td>{{ checkin.dateCreated|date_modify("+12 day")|date("H:i d-m-Y", "Europe/Amsterdam") }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <aside class="hint">
                            <h2 class="hint__title">{{ 'no checkins available'|trans|capitalize }}</h2>
                        </aside>
                    {% endif %}
                </div><!-- /.content -->
            </div><!-- /.content-background -->
