<nav
    class=" {% if application is defined and application.defaultConfiguration.configuration.colorSchemeMenu is defined %}{{ application.defaultConfiguration.configuration.colorSchemeMenu }}{% else %}background--donkerblauw{% endif %}"
    id="docs-nav">
    <div class="container">
        <div class="top-nav__block top-nav-autoresize">
            <ul class="nav nav--submenu">
                {% if application.defaultConfiguration.configuration.mainMenu is defined %}
                    {% set menu = commonground_resource(application.defaultConfiguration.configuration.mainMenu) %}

                    {% for item in menu.menuItems %}
                <li class="nav__item">
                    <a href="{{ item.href }}" title="Home" class="nav__link  ">
                        <i class="{{ item.icon }}" role="presentation"></i>
                        <span>{{ item.name }}</span>
                    </a>
                </li>
                    {% endfor %}

                {% endif %}

                {% if not app.user %}
                <li class="nav__item">
                    <a href="/login" title="Login" class="nav__link  ">
                        <i style="margin-right: 10px"  class="fas fa-lock"></i>
                        <span>{{ 'login'|trans|capitalize }}</span>
                    </a>
                </li>
                {% else %}
                    {% if application.defaultConfiguration.configuration.userPage is defined %}
                <li class="nav__item">
                        <a href="{{ application.defaultConfiguration.configuration.userPage }}" title="Profile" class="nav__link  ">
                            <i style="margin-right: 10px" class="fas fa-user"></i>
                            <span>{{ app.user.username }}</span>
                        </a>
                </li>
                    {% else %}
                <li class="nav__item nav__item--parent">
                    <a class="nav__link nav__link--parent" href="#"><i style="margin-right: 10px" class="fas fa-user"></i>{{ app.user.username }}</a>
                    <ul class="nav__submenu"
                        style="background-color: #CC0000; width: 100%; margin-top: -3px; padding-top: 0;">
                        <li class="nav__item" style="text-align: center">
                            <a class="nav__link" style="height: 100%" href="{{ path('app_user_logout') }}">Uitloggen</a>
                        </li>
                    </ul>
                <li>
                    {% endif %}
                {% endif %}
            </ul>

        </div>
    </div>

</nav>

